---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Samoa Govt Site Checker">
	<main class="container mx-auto">
		<h1 class="text-center text-4xl">Govt Site Checker</h1>
	</main>
</Layout>