---
import Layout from '../layouts/Layout.astro';
import List from '../components/List.astro';
import Contact from '../components/Contact.astro'
---

<Layout title="Samoa Govt Site Checker">
	<main class="container min-h-full mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<h1 class="text-3xl text-bold text-center mb-8 md:mb-12 lg:mb-20">Samoa Govt Site Checker</h1>
		<List />
		<Contact />
	</main>
</Layout>
<style>
	h1 {
		font-family: 'Arial';
	}
</style>