---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Samoa Govt Site Checker">
	<main class="container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<h1 class="text-6xl">Govt Site Checker</h1>
	</main>
</Layout>