<div class="text-center text-sm text-gray-700 my-5">
  <p>Missing your website? or is there information missing/outdated? Send <a class="text-blue-500 underline" href="mailto:andrewest_04@hotmail.com">me</a> an email</p>
</div>