---
import { Image } from "@astrojs/image/components";
import logo from "../assets/logo.png";
---

<header class="h-24 bg-slate-800 w-full mb-9">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl w-7/12 px-4 sm:px-6 lg:px-8">
      <div class="flex h-24 items-center justify-center lg:justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <Image
              class="block h-16 w-16"
              src={logo}
              alt="Govt Site Checker Logo"
            />
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
