---
import { Image } from '@astrojs/image/components'
import logo from '../assets/logo.png'
---

<header class="h-20 bg-slate-800 w-full">
  <div class="flex justify-between px-5 mb-5 max-w-max md:max-w-xl lg:mx-w-2xl">

  </div>
</header>