---
export const prerender = true;
import { Image } from "@astrojs/image/components";
---

<header class="bg-slate-800 w-full mb-9">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-auto py-3 items-center justify-center lg:justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <Image
              class="block h-11 w-11"
              src="/logo.png"
              alt="Govt Site Checker Logo"
            />
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
