name: Prepare for Production
on:
  push:
      branches: [main]
  pull_request:
      branches: [main]
  workflow_dispatch:
jobs:
  runner:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: |
          cd frontend && npm ci
          cd ../backend && npm ci
      - name: Run Tests
        run: cd frontend && npm run test
      - name: Build
        run: npm run build